<section id="about_cuba_gallery">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="sec-title text-center wow animated fadeInDown">
          <h2><%= t(:about_cuba) %></h2>
          <%= t(:cuba_review).html_safe %>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="gallery">
  <div class="container">
    <div class="row">
      <div class="sec-title text-center wow animated fadeInDown">
        <h2><%= t(:gallery) %></h2>

        <div class="col-xs-12 col-sm-12 col-md-12">
          <ul class="project-wrapper wow animated fadeInUp">
            <% index=1 %>
            <% @gallery.times do %>
                <li class="portfolio-item">
                  <img src="<%= get_url_images %><%= "#{index}.jpg" %>" class="img-responsive" alt="<%= t("image_description_#{index}") %>">
                  <figcaption class="mask">
                    <h3><%= t("image_title_#{index}") %></h3>
                  </figcaption>
                </li>
                <% index+=1 %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>