<header id="navigation" class="navbar-inverse navbar-fixed-top animated-header">
  <div class="container">
    <div class="navbar-header">
      <!-- responsive nav button -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- /responsive nav button -->

      <!-- logo -->
      <h1 class="navbar-brand">
        <a href="<%= home_path %>">
          <%= image_tag 'logo.png', id:'logo' %>
        </a>
      </h1>
      <!-- /logo -->
    </div>

    <!-- main nav -->
    <nav class="collapse navbar-collapse navbar-right" role="navigation">
      <% if controller.controller_name == "home" %>
          <ul id="nav" class="nav navbar-nav">
            <li><a href="#body"><%= t(:home) %></a></li>
            <li><a href="#service"><%= t(:services_title) %></a></li>
            <li><a href="#tours"><%= t(:tours) %></a></li>
            <li><a href="#about_cuba_gallery"><%= t(:about_cuba) %></a></li>
            <li><a href="#gallery"><%= t(:gallery) %></a></li>
            <li><a href="#tips"><%= t(:tips) %></a></li>
            <li><a href="#contact"><%= t(:contact) %></a></li>
            <li><%= form_tag home_path, class: 'locale' do %>
                  <%= select_tag 'set_locale',
                                 options_for_select(LANGUAGES, I18n.locale.to_s),
                                 onchange: 'this.form.submit()' %>
                  <%= submit_tag 'submit', style: 'display:none' %>
              <% end %></li>
          </ul>
      <% else %>
          <ul id="nav" class="nav navbar-nav">
            <li><%= link_to t(:home), home_path(anchor: "body") %></li>
            <li><%= link_to t(:services_title), home_index_path(anchor: "service") %></li>
            <li><%= link_to t(:tours), home_index_path(anchor: "tours") %></li>
            <li><%= link_to t(:about_cuba), home_index_path(anchor: "about_cuba_gallery") %></li>
            <li><%= link_to t(:gallery), home_index_path(anchor: "gallery") %></li>
            <li><%= link_to  t(:tips), home_index_path(anchor: "tips") %></li>
            <li><%= link_to t(:contact), home_index_path(anchor: "contact") %></li>
            <li><%= form_tag home_path, class: 'locale' do %>
                  <%= select_tag 'set_locale',
                                 options_for_select(LANGUAGES, I18n.locale.to_s),
                                 onchange: 'this.form.submit()' %>
                  <%= submit_tag 'submit', style: 'display:none' %>
              <% end %></li>
          </ul>
      <% end %>
    </nav>
    <!-- /main nav -->
  </div>
</header>
