<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js"> <!--<![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
  <title>Havanaexplore</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body id="body">

<!-- preloader -->
<%= render partial: 'layouts/preloader' %>
<!-- end preloader -->

<!--
Fixed Navigation
==================================== -->
<%= render partial: 'layouts/header' %>
<!--
End Fixed Navigation
==================================== -->

<main class="site-content" role="main">
  <%= yield %>
</main>

<%= render partial: 'layouts/footer' %>

<!-- Essential jQuery Plugins
================================================== -->
<!-- Main jQuery -->
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= yield :inline_scripts if content_for? :inline_scripts %>

</body>
</html>